@mixin Fonctionnement-boutons-design {
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
    background-color: #F6F6F6;

} 

@mixin restaurants-cartes-design {
    height: 251px;
    border-radius: 15px;
    background-color: white;
    margin: 0px 17px 18px 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

@mixin restaurants-images {
    height: 176px;
    border-radius: 15px 15px 0 0;
    width: 100%;
    object-fit: cover;
}

@mixin restaurants-cartes-nouveau {
    background-color: #99E2D0;
    color: darken(#99E2D0, 50%);
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    right: 32px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: center;

}

@mixin fonctionnement-etapes-num {
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #9356DC;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    left: 20px;
}